<!--Grupo 14 - Ramon Rosa Perez y Victor Velazquez Cabrera-->
<!DOCTYPE html>
<html lang="es">

<head>
    <title>404</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/pregunta.css" media="screen">
    <link rel="icon" type="image/png" href="../img/404-error.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("header") %>
        <div class="cuerpo">
            <div class="pregunta">
                <h2 class="titulopregunta">
                    <%= pregunta.titulo %>
                </h2>
                <div class="textopregunta">
                    <%= pregunta.texto %>
                </div>
                <div class="infopregunta">
                    <div class="etiquetasvisitasvotos">
                        <div class="etiquetas">
                            <% pregunta.etiquetas.forEach(function(etiqueta) { %>
                                <div class="etiqueta">
                                    <%= etiqueta %>
                                </div>
                                <% }); %>
                        </div>
                        <div class="visitasvotos">
                            <div class="visitas">
                                Visitas: <%= pregunta.visitas %>
                            </div>
                            <div class="votos">
                                Votos: <%= pregunta.puntos %>
                            </div>
                            <form class="votopos" action="../preguntas/<%= pregunta.id %>/votopositivo" method="POST">
                                <button type="submit" class="button"><img class="likeimage" src="img/like.png"
                                        alt="like icon"></button>
                            </form>
                            <form class="votoneg" action="../preguntas/<%= pregunta.id %>/votonegativo" method="POST">
                                <button type="submit" class="button"><img class="likeimage" src="img/dislike.png"
                                        alt="dislike icon"></button>
                            </form>
                        </div>
                    </div>
                    <div class="der">
                        <div class="fecha">Formulada el <%= pregunta.fechastr %>
                        </div>
                        <div class="imguser"><img class="imgus" src="<%= pregunta.imagen %>"></img></div>
                        <div class="nickname">
                            <%= pregunta.nick %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="numpreguntas">
                <%= respuestas.length %> Respuestas
            </div>
            <div class="respuestas">
                <% respuestas.forEach(function(respuesta) { %>
                <div class="respuesta">
                    <div class="textorespuesta"><%= respuesta.texto %></div>
                    <div class="inforespuesta">
                        <div class="votosvotacion">
                            <div class="votos">Votos: <%= respuesta.puntos %>
                            </div> 
                            <form class="votopos" action="../preguntas/<%= pregunta.id %>/<%= respuesta.id %>/votopositivo" method="POST">
                                <button type="submit" class="button"><img class="likeimage" src="img/like.png" alt="like icon"></button>
                            </form>
                            <form class="votoneg" action="../preguntas/<%= pregunta.id %>/<%= respuesta.id %>/votonegativo" method="POST">
                                <button type="submit" class="button"><img class="likeimage" src="img/dislike.png" alt="dislike icon"></button>
                            </form>
                        </div>
                        <div class="der">
                            <div class="fecha">Formulada el <%= respuesta.fechastr %></div>
                            <div class="imguser"><img class="imgus" src="<%= respuesta.imagen %>"></img></div>
                            <div class="nickname"><%= respuesta.nick %></div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <div class="turespuesta">
                <div class="numpreguntas">Tu respuesta</div>
                <form class="nuevarespuesta" action="../preguntas/<%= pregunta.id %>/nuevarespuesta" method="POST">
                    <textarea class="inputrespuesta" type="text" name="cuerporespuesta" required></textarea>
                    <button class="buscar" type="submit">Publicar respuesta</button>
                </form>
            </div>
        </div>
</body>

</html>