<div class="preguntas">
    <% preguntas.forEach(function(pregunta) { %>
        <div class="pregunta">
            <div class="izq">
                <a class="enlacepregunta" href="/preguntas/<%= pregunta.id %>">
                    <div class="titulo">
                        <%= pregunta.titulo %>
                    </div>
                </a>
                <div class="texto">
                    <%= pregunta.texto %>
                </div>
                <div class="etiquetas"> 
                    <% if(pregunta.etiquetas[0] !== null){
                    pregunta.etiquetas.forEach(function(etiqueta) { %>
                        <a href="/preguntas/etiquetadas/<%= etiqueta %>" class="enlacetiqueta">
                            <div class="etiqueta">
                                <%= etiqueta %>
                            </div>
                        </a>
                    <% });} %>
                </div>
            </div>
            <div class="der">
                <div class="fecha">Formulada el <%= pregunta.fechastr %></div>
                <div class="imguser">
                    <img class="imgus" src="/<%= pregunta.imagen %>"></img>
                </div>
                <a href="/usuarios/perfil/<%= pregunta.usuarioid %>" >
                    <div class="nickname">
                        <%= pregunta.nick %>
                    </div>
                </a>
            </div>
        </div>
        <% }); %>
</div>