<form class="buscaruser" action="/usuarios/filtrar" method="GET">
    <div class="buscarusuario">
        <input class="texto" type="text" name="filtrarusuario" placeholder="Filtrar por usuario" >
        <input class="filtrar" type="submit" value="Filtrar">
    </div>
</form>
<div class="usuariosweb">
    <% usuarios.forEach(function(usuario){ %>
        <a href="/usuarios/perfil/<%= usuario.id %>" >
            <div class="usuarioweb">
                <div class="imgus">
                    <img class="imgu" src="/<%= usuario.imagen %>"></img>
                </div>
                <div class="username">
                    <%= usuario.nick %>
                </div>
                <div class="reputacion">
                    <%= usuario.reputacion %>
                </div>
                <div class="tag">
                    <%= usuario.nombretiqueta %>
                </div>
            </div>
        </a>
    <% }); %>
</div>